<section class="AboutSection">
    <div class="Container">
        <div class="AboutSectionContent">
        <picture>
            <source srcset="/img/about-team-mob.jpg 1x, /img/about-team-mob2x.jpg 2x" media="(max-width: 767px)" />
            <source srcset="/img/about-team-tab.jpg 1x, /img/about-team-tab2x.jpg 2x"
                media="(max-width: 1279px)" />
            <source srcset="/img/about-team.jpg 1x, /img/about-team2x.jpg 2x" media="(min-width: 1280px)" />
            <img class="AboutSectionImage" src="/img/about-team.jpg" alt="Team of ArtistsHub" loading="lazy" width="640"
         />
        </picture>

            <div class="AboutSectionText">
                <svg class="AboutSectionIcon" aria-hidden="true">
                    <use href="./img/symbol-defs.svg#icon-logo-icon" />
                </svg>
                <h2 class="AboutSectionTitle">
                   
                    About ArtistsHub
                </h2>
                <p class="AboutSectionDescription">
                    At ArtistsHub, our mission is to connect music lovers with the artists they adore.
                    We strive to create a vibrant online community where discovering new music is as enjoyable as listening to it.
                </p>
            </div>
            </div>
            </div>
            </section>
