<section class="artists-section" id="artists">
  <div class="container">
    <h3 class="artists-section-subtitle">Artists</h3>
    <h2 class="artists-section-title">Explore Your New<br>Favorite Artists</h2>

    <div class="artists-list-wrapper">
      <ul class="artists-list"></ul>
    </div>

    <button type="button" id="load-more-btn" class="load-more-btn">Load More</button>
  </div>
</section>


<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">