<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="icon-triangle-white" viewBox="0 0 17 32">
    <path d="m0 31.878 17.067-14.933L0 2.012v29.867z" fill="currentColor" />
  </symbol>
  <symbol id="icon-arrow-down" viewBox="0 0 32 32">
    <path d="M31.33 15.949 28.098 12.717 18.285 22.53V.619h-4.571V22.53L3.901 12.717.669 15.949 16 31.279l15.33-15.33z"
      fill="currentColor" />
  </symbol>
</svg>

<section class="artists-section" id="artists">
  <div class="container">

    <div class="artists-section-header">
      <h3 class="artists-section-subtitle">Artists</h3>
      <h2 class="artists-section-title">Explore Your New<br>Favorite Artists</h2>
    </div>

    <div class="artists-list-wrapper">
      <ul class="artists-list"></ul>
    </div>

    <div style="text-align: center;">
      <button type="button" id="load-more-btn" class="load-more-btn">
        Load More
        <svg width="14" height="14" style="margin-left: 8px;">
          <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
        </svg>
      </button>      
    </div>

  </div>
</section>




<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">