<section class="feedback-section" id="feedback">
    <div class="container swiper feedback-swiper">
        <div class="swiper-wrapper" id="feedback-list"></div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev">
            <svg class="icon-swiper-button" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-btn-prev"></use>
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg class="icon-swiper-button" width="24" height="24">
                <use href="/img/symbol-defs.svg#icon-btn-next"></use>
            </svg>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
   