<div class="mobile-menu is-hidden" data-menu>
  <div class="mobile-menu-header">
    <a class="header-logo" href="/">
      <svg class="logo" width="119" height="51">
        <use href="/img/symbol-defs2.svg#icon-Company-Logo"></use>
      </svg>
    </a>
    <button type="button" alt="close" class="close" data-menu-close>
      <svg class="icon-close" width="24" height="24">
        <use href="/img/symbol-defs2.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-list-item">
        <a href="./artist.html#artists" class="mobile-nav-button">Artists</a>
      </li>
      <li class="mobile-nav-list-item">
        <a href="./about.html#aboutUs" class="mobile-nav-button">About Us</a>
      </li>
      <li class="mobile-nav-list-item">
        <a href="./feedbacks.html#reviews" class="mobile-nav-button">Reviews</a>
      </li>
    </ul>
  </nav>
</div>
