/* @media screen and (min-width: 768px){}

@media screen and (min-width: 1440px){}  */
h1,
h2 {
    font-family: "Epilogue", sans-serif; 
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.01em;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;  
}

.hidden {
    display: none;
}

/* backdrop */
    .artist-backdrop {
        background-color: rgba(50, 50, 50, 0.75);
        position: fixed;
        inset: 0;
        display: flex; 
        justify-items: center;
        align-items: flex-start;
        z-index: 2001;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        padding: 64px 16px;
    }

    @media screen and (min-width: 768px) {
        .artist-backdrop {
            padding: 64px 32px;
        }
    }

        @media screen and (min-width: 1440px) {
            .artist-backdrop {
                padding: 64px 64px;
            }
        }

    .artist-backdrop.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        scroll-behavior: smooth;
    }
    
/* modal container */

    .artist-modal-container  {
        position: relative;
        border-radius: 16px;
        background-color: #060307;
        max-height: 100%;
        overflow-y: auto;
        scrollbar-width: thin;
        scroll-behavior: smooth;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
        scroll-margin-block-start: 5px;
    }

    @media screen and (min-width: 768px) {
        .artist-modal-container{
            gap: 48px;
            padding: 64px 0;
        }
    }

    @media screen and (min-width: 1440px) {
        .artist-modal-container {
            padding: 64px 0;
        }
    }

    /* artist-modal */

    .artist-modal{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
        padding: 52px 8px;
    }

    @media screen and (min-width: 768px){
        .artist-modal {
            gap: 48px;
            padding: 64px 24px;
        }
    }

    @media screen and (min-width: 1440px){
        .artist-modal {
            padding: 64px;
        }
    } 
    
/* close button */

    .artist-modal-close {
        all: unset;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1440px) {
        .artist-modal-close {
            top: 24px;
            right: 47px;
        }
    }

    .artist-modal-close svg {
        fill: #fff;
    }

/* modal header */

    .artist-modal-header {
        display: flex;
        align-items: center;
        justify-self: center;
        font-size: 32px;
        text-align: center;
    }

/* artist modal content */

    .artist-modal-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 32px;
    }

    @media screen and (min-width: 1440px) {
        .artist-modal-content {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }
    }

/* info */

    .artist-info {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
    }

    @media screen and (min-width: 768px) {
        .artist-info {
            gap: 24px;
        }
    }

    .artist-bio {
        max-height: 324px;
        overflow-y: auto;
        overflow-x: hidden;
        word-wrap: break-word; 
        scrollbar-width: thin;
    }

        @media screen and (min-width: 768px) {
            .artist-bio {
                max-height: 135px;
            }
        }
    
        @media screen and (min-width: 1440px) {
            .artist-bio {
                max-height: 162px;
            }
        }

/* meta */

    .artist-meta {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: start;
        align-items: start;
    }

    .artist-meta-item {
        justify-self: start;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    @media (min-width: 768px) {
        .artist-meta {
            grid-template-columns: repeat(2, auto);
            gap: 24px;
        } 
    }

/* photo */

    .artist-photo {
        border-radius: 16px;
    }

/* genres */

    .artist-genres {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-direction: row;
        gap: 16px;
    }

    .genre-item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        padding: 4px 10px;
    }

/* albums container */

    .albums-title {
        align-self: flex-start;
    }

    .albums-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .albums-container {
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: calc(50% - 32px);
        }
    }

    @media screen and (min-width: 1440px) {
        .albums-container {
            grid-template-columns: repeat(4, 1fr);
        }
    }
   
    .album {
        width: 100%;
        background-color: #1e1c1f;
        border-radius: 16px;
        padding: 14px 11px;
        box-sizing: border-box;
        overflow-y: auto;
        scrollbar-width: thin;
        height: 564px;
    }
      
      
    @media screen and (min-width: 768px) {
        .album {
          width: calc(50% - 16px); 
        }
    }
      
      
    @media screen and (min-width: 1440px) {
        .album {
          width: calc(25% - 24px);
        }
    }


    .album::-webkit-scrollbar-track {
        background: transparent;
    }

    .album-title {
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
    }

    @media screen and (min-width: 768px) {
        .album-title {
            margin-bottom: 12px;
        }
    }

    .track-header {
        display: grid;
        grid-template-columns: 1fr 60px 40px;
        align-items: center;
        border-radius: 8px;
        padding: 4px 0px 4px 12px;
        height: 20px;
        background-color: rgba(255, 255, 255, 0.05);
        font-weight: 600;
        font-size: 8px;
        line-height: 1.5;
    }

    .track-list {
        display: flex;
        flex-direction: column;
        padding: 0;
      }

      .track-list-container {
        width: 100%;
      }
      
    .track-item {
        display: grid;
        grid-template-columns: 1fr 60px 43px;
        border-radius: 8px;
        padding: 4px 0px 4px 12px;
        height: 32px;
        align-items: center;
        justify-content: center;
    }

    .track-item span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
    }

    .track-item:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .track-link {
        display: flex;
        align-items: center;
        width: 24px;
        height: 25px;
    }

    .youtube-link {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        object-fit: contain;
        fill: #fff;
    }

/* Loader */

    .modal-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px 24px;
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    }
