/*Mobile*/
.section-hero {
  padding: 64px 0;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 0;
  }
}
/* Desktop  */
/* @media only screen and (min-width: 1440px) {
  .section-hero {
    padding: 112px 0;
  }
} */

/* --------------------------------- */

.hero-title {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 20px;
}

.hero-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;
  max-width: 640px;
}

.hero-content {
  margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    font-size: 20px;
    margin-bottom: 32px;
  }

  .hero-content {
    /*  */
    /* padding-top: 32px; */
    /*  */
    margin-bottom: 32px;
  }

  .hero-title {
    margin-bottom: 24px;
    max-width: 624px;
    position: relative;
    z-index: 2;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    font-size: 84px;
  }
  .hero-content {
    margin-bottom: 0;
  }
}

.hero-button {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  /* margin: auto; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 10px 24px;
  max-width: 280px;
  height: 47px;
  font-size: 18px;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  fill: #fff;
  gap: 12px;
  box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #764191;
}

.hero-button:hover,
.hero-button:focus {
  background: #5f3177;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 -2px 1px rgba(0, 0, 0, 0.3),
    inset 0 2px 1px rgba(255, 255, 255, 0.2);
  outline: none;
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

@media only screen and (min-width: 768px) {
  .hero-button {
    max-width: 246px;
    margin-left: 0;
  }
  .background-wrapper {
    background-size: contain;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-button {
    max-width: 206px;
    gap: 4px;
    padding: 10px 0;
  }
}

.hero {
  min-width: 320px;
  margin-top: 64px;
  padding-bottom: 0;
  background-color: #23132b;
  position: relative;
}

.background-wrapper {
  box-sizing: border-box;
  background-image: url('/img/hero/hero-mob.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 385px;
  width: 100%;
}

/* Для пристроїв з високою щільністю пікселів (retina) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .background-wrapper {
    background-image: url('/img/hero/hero-mob@2x.webp');
  }
}

@media (min-width: 768px) {
  .background-wrapper {
    background-image: url('/img/hero/hero-tab.webp');
    height: 632px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .background-wrapper {
      background-image: url('/img/hero/hero-tab@2x.webp');
    }
  }
}

@media (min-width: 1440px) {
  .background-wrapper {
    background-image: url('/img/hero/hero-desk.webp');
    height: 900px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .background-wrapper {
      background-image: url('/img/hero/hero-desk@2x.webp');
    }
  }
}

.hero::before,
.hero::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;

  z-index: 2;
  pointer-events: none;
}

.hero::before {
  height: 80px;
  top: -2px;
  background: linear-gradient(0deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
}

.hero::after {
  height: 106px;
  bottom: -2px;
  background: linear-gradient(180deg, rgba(35, 19, 43, 0) 0%, #060307 100%);
}

@media only screen and (min-width: 768px) {
  /*  */
  .hero::before {
    height: 125px;
  }
  .hero::after {
    height: 137px;
  }

  .hero {
    box-sizing: border-box;
    padding-bottom: 0px;
    padding-top: 0px;
    /*  */
    position: relative;
    /*  */
  }
  .hero-content {
    width: 100%;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
  /*  */
  .hero::before {
    height: 125px;
  }
  .hero::after {
    height: 137px;
  }

  .hero {
    box-sizing: border-box;
    padding-bottom: 0px;
    padding-top: 0px;
    /*  */
    position: relative;
    /*  */
  }
  .hero-content {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  /*  */
  .hero::before {
    height: 80px;
  }
  .hero::after {
    height: 137px;
  }
  /*  */
  .hero-container {
    display: flex;
    justify-content: center;
    /*  */
    align-items: center;
    gap: 30px;
    /*  */
  }

  .hero {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .hero-content {
    /* padding-top: 215.5px;
    padding-bottom: 78.5px; */
    max-width: 640px;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px) {
  /*  */
  .hero::before {
    height: 80px;
  }
  .hero::after {
    height: 137px;
  }
}
