/* Styles for Mobile devices */
.section-hero {
  padding: 64px 0;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section-hero {
    padding: 112px 0;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .section-hero {
    padding: 112px 0;
  }
}
